// Colors App
$color_white:#fff;
$color_darked_white:#e3e3e3;
$color_roses:#FF4E50;
$color_light-black:#444444;
$color_light-black-02:#666666;
$color_light-black-03:#d4d4d4;
$color_light-black-04:#999999;
$color_light-black-05:#cccccc;

// --------------------------------------

// Fonts App
$Montserrat-Regular:'Montserat-Regular';
$Montserrat-Bold:'Montserrat-Bold';
$Roboto-Light:'Roboto-Light';

// ------------------------------

// Font size App
$font_size_24: 24px;
$font_size_22: 22px;
$font_size_20: 20px;
$font_size_14: 14px;
$font_size_18: 18px;
$font_size_16: 16px;
$font_size_10: 10px;